<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title> Layout only  </title>
<!-- <style>
  table, th, td {
    border: 1px solid black;
    padding: 5px;
  }
  </style> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
  <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% block head %}
  {% endblock head %}

  <script>
      var ros = new ROSLIB.Ros({
      url : "ws://{{ request.host.split(':')[0] }}:9090"
    });
    ros.on('connection', function() {
      console.log('Connected to websocket server.');
    });
    ros.on('error', function(error) {
      console.log('Error connecting to websocket server: ', error);
    });
    ros.on('close', function() {
      console.log('Connection to websocket server closed.');
    });


    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">Main page</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('control')}}">Control</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('chartjs')}}">Charting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('firebase')}}">FireBase</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
{% block content %}
{% endblock content %} 

</body>
</html>